<!-- <c-col xs="12">
  <label class="toggle-switch">
    <input type="checkbox">
    <div class="slider"></div>
  </label>
</c-col>
<c-col xs="12">
  <label class="toggle-switch">
    <input type="checkbox">
    <div class="slider"></div>
  </label>
</c-col>
<c-col xs="12">
  <label class="toggle-switch">
    <input type="checkbox">
    <div class="slider"></div>
  </label>
</c-col>
<c-col xs="12">
  <label class="toggle-switch">
    <input type="checkbox">
    <div class="slider"></div>
  </label>
</c-col>
<c-col xs="12">
  <label class="toggle-switch">
    <input type="checkbox">
    <div class="slider"></div>
  </label>
</c-col> -->
<c-card class="mb-4">
  <c-card-header>
    <strong>Office Appliances</strong>
  </c-card-header>
  <c-card-body>
    <c-row>
      <c-col sm="6" xl="3" style="padding-bottom: 12px;">
        <c-card style="width: 18rem; background-color: #79ebcd;">
          <!-- <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container> -->
          <img cCardImg="top" src="./assets/images/AirCond.jpg" style="width:286px; height:161px; object-fit: fill;">
          <c-card-body>
            <!-- <h5 cCardTitle>Card title</h5> -->
            <p cCardText>
              Air Conditioner
            </p>
            <!-- <button cButton color="primary">Go somewhere</button> -->
            <label class="toggle-switch">
              <input type="checkbox">
              <div class="slider"></div>
            </label>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col sm="6" xl="3" style="padding-bottom: 12px;">
        <c-card style="width: 18rem; background-color: #79ebcd;">
          <!-- <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container> -->
          <img cCardImg="top" src="./assets/images/Lamp.jpg" style="width:286px; height:161px; object-fit: fill;">
          <c-card-body>
            <!-- <h5 cCardTitle>Card title</h5> -->
            <p cCardText>
              Lamp
            </p>
            <!-- <button cButton color="primary">Go somewhere</button> -->
            <label class="toggle-switch">
              <input type="checkbox">
              <div class="slider"></div>
            </label>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col sm="6" xl="3" style="padding-bottom: 12px;">
        <c-card style="width: 18rem; background-color: #79ebcd;">
          <!-- <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container> -->
          <img cCardImg="top" src="./assets/images/plug.jpg" style="width:286px; height:161px; object-fit: fill;">
          <c-card-body>
            <!-- <h5 cCardTitle>Card title</h5> -->
            <p cCardText>
              Socket
            </p>
            <!-- <button cButton color="primary">Go somewhere</button> -->
            <label class="toggle-switch">
              <input type="checkbox">
              <div class="slider"></div>
            </label>
          </c-card-body>
        </c-card>
      </c-col>
      <!-- <c-col sm="6" xl="3" style="padding-bottom: 12px;">
        <c-card style="width: 18rem;">
          <img cCardImg="top" src="./assets/images/angular.jpg" style="width:286px; height:161px; object-fit: fill;">
          <c-card-body>
            <p cCardText>
              Air Conditioner
            </p>
            <label class="toggle-switch">
              <input type="checkbox">
              <div class="slider"></div>
            </label>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col sm="6" xl="3" style="padding-bottom: 12px;">
        <c-card style="width: 18rem;">
          <img cCardImg="top" src="./assets/images/angular.jpg" style="width:286px; height:161px; object-fit: fill;">
          <c-card-body>
            <p cCardText>
              Air Conditioner
            </p>
            <label class="toggle-switch">
              <input type="checkbox">
              <div class="slider"></div>
            </label>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col sm="6" xl="3" style="padding-bottom: 12px;">
        <c-card style="width: 18rem;">
          <img cCardImg="top" src="./assets/images/angular.jpg" style="width:286px; height:161px; object-fit: fill;">
          <c-card-body>
            <p cCardText>
              Air Conditioner
            </p>
            <label class="toggle-switch">
              <input type="checkbox">
              <div class="slider"></div>
            </label>
          </c-card-body>
        </c-card>
      </c-col> -->
    </c-row>  
  </c-card-body>
</c-card>
