<c-col xs="12">
  <label class="toggle-switch">
    <input type="checkbox">
    <div class="slider"></div>
  </label>
</c-col>
<c-col xs="12">
  <label class="toggle-switch">
    <input type="checkbox">
    <div class="slider"></div>
  </label>
</c-col>
<c-col xs="12">
  <label class="toggle-switch">
    <input type="checkbox">
    <div class="slider"></div>
  </label>
</c-col>
<c-col xs="12">
  <label class="toggle-switch">
    <input type="checkbox">
    <div class="slider"></div>
  </label>
</c-col>
<c-col xs="12">
  <label class="toggle-switch">
    <input type="checkbox">
    <div class="slider"></div>
  </label>
</c-col>