<c-row>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      class="mb-4"
      color="success"
      title="Meeting Room 1"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        35kWatts
        <span class="fs-6 fw-normal">
          (-12.4% <svg cIcon name="cilArrowBottom"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[0]" [options]="options[2]" class="mt-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Meeting Room 2'"
      class="mb-4"
      color="success"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        15kWatts
        <span class="fs-6 fw-normal">
          (-10.9%<svg cIcon name="cilArrowBottom"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[1]" [options]="options[2]" class="mt-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Meeting Room 3'"
      class="mb-4"
      color="warning"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        89kWatts
        <span class="fs-6 fw-normal">
          (-1.7% <svg cIcon name="cilArrowBottom"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[2]" [options]="options[2]" class="mt-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Conference Room'"
      class="mb-4"
      color="warning"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        53kWatts
        <span class="fs-6 fw-normal">
          (-2.6% <svg cIcon name="cilArrowBottom"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[4]" [options]="options[2]" class="mt-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Pantry'"
      class="mb-4"
      color="danger"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        100kWatts
        <span class="fs-6 fw-normal">
          (50.6% <svg cIcon name="cilArrowTop"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[5]" [options]="options[2]" class="mt-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Main Office'"
      class="mb-4"
      color="danger"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        90kWatts
        <span class="fs-6 fw-normal">
          (50.6% <svg cIcon name="cilArrowTop"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[6]" [options]="options[2]" class="mt-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <!-- <c-col sm="6" xl="3">
    <c-widget-stat-e
      [title]="'title'"
      [value]="'1,123'"
      class="mb-4"
    >
    <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
      <span>44K</span>
      <span class="fs-6 fw-normal">
        (-23.6% <svg cIcon name="cilArrowBottom"></svg>)
      </span>
    </ng-template>
    <ng-template cTemplateId="widgetActionTemplate">
      <c-dropdown alignment="end" variant="btn-group">
        <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
          <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
        </button>
        <ul cDropdownMenu>
          <li><a routerLink="./" cDropdownItem>Action</a></li>
          <li><a routerLink="./" cDropdownItem>Another action</a></li>
          <li><a routerLink="./" cDropdownItem>Something else here</a></li>
          <li><a [disabled]="true" routerLink="./" cDropdownItem>Disabled</a></li>
        </ul>
      </c-dropdown>
    </ng-template>
      <c-chart [data]="data[0]" [options]="barOptions" class="mx-auto" height="40" width="80"></c-chart>
    </c-widget-stat-e>
  </c-col> -->
</c-row>
